body {
    font-family: Arial, sans-serif;
    background-color: #313131;
    margin: 0;
    padding: 0;
}

p {
    text-align: justify;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.cabecalho h1 {
    color: #333;
    font-size: 36px;
    margin: 0;
}

.cabecalho img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.conteudo {
    line-height: 1.6;
    margin-bottom: 20px;
}

.botao-voltar {
    display: block;
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
    color: #007bff;
    font-size: 18px;
}

.botao-voltar:hover {
    text-decoration: underline;
}